package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;

import static net.egork.io.IOUtils.*;
import static net.egork.misc.MiscUtils.*;
import static net.egork.misc.ArrayUtils.*;

public class %TaskClass% {
    public void solve(int testNumber, %InputClass% in, %OutputClass% out) {
        out.printLine("Case #" + testNumber + ":");
    }
}
